<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cash Back History</title>
        <link rel="stylesheet" href="../../assets/bootstap/dev/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../../dist/css/discovery.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
        <script src="../../assets/bootstap/dev/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="d-flex flex-column justify-content-center cash-back-container">
            <iframe src="../layouts/Header.html" width="100%" frameBorder="0"></iframe>
            <div class="d-flex flex-column justify-content-center cash-back-body">
                <div class="cash-back-banner">
                    Your cash back history
                </div>
                <div class="funder-container">
                    <div class="switch-funder-container">
                        <div class="error-container">
                            <div class="icon-alert">
                                <img src="../../dist/icons/alert.svg"/>
                            </div>
                            <div class="text">
                                An error occured while trying to process your request, we could not switch you to fuel cash back. Please try again later or contact us if the issue persists.
                            </div>
                            <div class="icon-exit">
                                <img src="../../dist/icons/close.svg"/>
                            </div>
                        </div>
                        <div class="switch-insure-funder-container">
                            <div class="border-line"></div>
                            <div class="switch-insure-container">
                                <div class="switch-insure-title-container">
                                    <div class="icon">
                                        <img src="../../dist/icons/efa.svg"/>
                                    </div>
                                    <div class="title">
                                        Switch to an Insure Funder Account
                                    </div>
                                </div>
                                <div class="switch-body-text">
                                    Have your monthly fuel cash back doubled and paid directly into your Insure Funder Account. If you switch to the Insure Funder Account, then all fuel cash back earned by the all primary drivers on the plan are paid into the Insure Funder Account.
                                </div>
                                <div class="check-container">
                                    <div class="icon">
                                        <img src="../../dist/icons/check.svg"/>
                                    </div>
                                    <div class="text">
                                        I have read and accept the Insure Funder Account <label class="terms">terms and conditions.</label>
                                    </div>
                                </div>
                                <div class="d-flex flex-row justify-content-end">
                                    <div class="switch-now">
                                        <div class="text">
                                            Switch Now
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between dropdown-container">
                            <div class="d-flex flex-column justify-content-start">
                                <div class="switch-title">
                                    Plan number
                                </div>
                                <div class="d-flex flex-row justify-content-between dropdown">
                                    <div class="text">
                                        24039029450
                                    </div>
                                    <div class="icon">
                                        <img src="../../dist/icons/chevron-down.svg"/>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-start">
                                <div class="switch-title">
                                    Primary driver 
                                </div>
                                <div class="d-flex flex-row justify-content-between dropdown">
                                    <div class="text">
                                        Steven Malcom
                                    </div>
                                    <div class="icon">
                                        <img src="../../dist/icons/chevron-down.svg"/>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-start">
                                <div class="switch-title">
                                    Fuel cash back period
                                </div>
                                <div class="d-flex flex-row justify-content-between dropdown">
                                    <div class="text">
                                        2020
                                    </div>
                                    <div class="icon">
                                        <img src="../../dist/icons/chevron-down.svg"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between total-fuel-container">
                            <div class="d-flex flex-row jusitfy-content-between">
                                <div class="pig-icon">
                                    <img src="../../dist/icons/piggy-bank.svg"/>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="pig-title">
                                        Total fuel cash back
                                    </div>
                                    <div class="pig-text">
                                        Last updated: 20 February 2020
                                    </div>
                                </div>
                            </div>
                            <div class="pig-value">
                                R225.00
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cashback-container">
                    <div class="d-flex flex-column justify-content-center cashback-inner-container">
                        <div class="current-cashback-container">
                            <div class="date-cashback-title-container">
                                <div class="date-cashback-title">
                                    February 2020
                                </div>
                                <div class="current-button">
                                    Current cashback
                                </div>
                            </div>
                            <div class="project-fuel-container">
                                <div class="title-container">
                                    <div class="title">
                                        Project fuel cash back
                                    </div>
                                    <div class="value">
                                        R125.00
                                    </div>
                                </div>
                                <div class="bar">
                                    <div class="bar-1"></div>
                                    <div class="bar-2"></div>
                                </div>
                                <div class="value-container">
                                    <div>R0.00</div>
                                    <div>R400.00</div>
                                </div>
                            </div>
                            <div class="project-fuel-breakdown-container">
                                <div class="project-fuel-title">
                                    Projected fuel cash back breakdown
                                </div>
                                <div class="breakdown-container">
                                    <div class="qualify-cashback-container">
                                        <div class="title">
                                            Qualifying cashback %
                                        </div>
                                        <div class="value">
                                            5%
                                        </div>
                                    </div>
                                    <div class="qualify-operation">X</div>
                                    <div class="qualify-cashback-container">
                                        <div class="title spend">
                                            Qualifying spend
                                        </div>
                                        <div class="value">
                                            R550.00
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-line"></div>
                            <div class="callback-container">
                                Cash back history
                            </div>
                            <div class="callback-date-container">
                                <div class="date-text">
                                    January 2020
                                </div>
                                <div class="text-body">
                                    <label class="value">R100.00</label>
                                    <label>out of R100.00 maximum fuel cash back earned</label>
                                </div>
                            </div>
                            <div class="breakdown-container spend">
                                <div class="qualify-cashback-container">
                                    <div class="title">
                                        Qualifying cash back %
                                    </div>
                                    <div class="value">
                                        5%
                                    </div>
                                </div>
                                <div class="qualify-operation">X</div>
                                <div class="qualify-cashback-container">
                                    <div class="title spend">
                                        Vitality Drive points
                                    </div>
                                    <div class="value">
                                        1 600
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="insure-funder-account-container">
                            <div class="insure-container">
                                <div class="icon">
                                    <img src="../../dist/icons/efa.svg"/>
                                </div>
                                <div class="text-container">
                                    <div class="title">
                                        Insure Funder Account
                                    </div>
                                    <div class="text-body">
                                        Last updated: 20 February 2020
                                    </div>
                                </div>
                            </div>
                            <div class="value">
                                R0.00
                            </div>
                        </div>
                        <div class="insure-funder-info-container">
                            <div class="info-container">
                                <div class="icon">
                                    <img src="../../dist/icons/info.svg"/>
                                </div>
                                <div class="text">
                                    You have never switched to have your cash back paid into your Insure Funder Account.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="quicklinks-outer-container">
                    <div class="d-flex flex-row justify-content-center">
                        <div class="quicklinks-container">
                            <div class="quicklinks-title">
                                Quicklinks
                            </div>
                            <div class="d-flex flex-row jusitfy-content-between quicklinks-tile-container">
                                <div class="quicklinks-tile">
                                    <div class="text">
                                        View your Vitality Drive <br />points
                                    </div>
                                    <div class="icon">
                                        <img src="../../dist/icons/chevron-right.svg"/>
                                    </div>
                                </div>
                                <div class="quicklinks-tile">
                                    <div class="text">
                                        Manage your policy
                                    </div>
                                    <div class="icon">
                                        <img src="../../dist/icons/chevron-right.svg"/>
                                    </div>
                                </div>
                                <div class="quicklinks-tile">
                                    <div class="text">
                                        DQ Mapper
                                    </div>
                                    <div class="icon">
                                        <img src="../../dist/icons/chevron-right.svg"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <iframe class="footer-vitality-drive" src="../layouts/Footer.html" width="100%" frameBorder="0"></iframe>
        </div>
    </body>
</html>