<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vitality Drive Dashbaord</title>
        <link rel="stylesheet" href="../../assets/bootstap/dev/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../../dist/css/discovery.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
        <script src="../../assets/bootstap/dev/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="d-flex flex-column justify-content-center vitality-drive-container">
            <iframe class="header" src="../layouts/Header.html" width="100%" frameBorder="0"></iframe>
            <div class="d-flex flex-column justify-content-center vitality-drive-body">
                <div class="d-flex justify-content-center vitality-drive-heading">
                    Vitality Drive dashboard
                </div>
                <div class="d-flex flex-row vitality-drive-sensor-container">
                    <div class="vitality-drive-sensor-border"></div>
                    <div class="d-flex flex-column justify-content-start vitality-drive-sensor-body">
                        <div class="vitality-drive-sensor-title-container">
                            <div class="vitality-drive-sensor-icon">
                                <img src="../../dist/icons/icon-link-insure-sensor.svg"/>
                            </div>
                            <div class="vitality-drive-sensor-title">Collect your Vitality Drive sensor</div>
                        </div>
                        <div class="vitality-drive-sensor-text">
                            Visit your nearest Tiger Wheel & Tyre branch and install your Vitality Drive Sensor.
                        </div>
                        <div class="vitality-drive-sensor-learn-more-container">
                            <div class="vitality-drive-sensor-learn-more">
                                Learn more
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between planholder-rewards-container">
                    <div class="d-flex flex-row planholder-container">
                        <div class="planholder-icon">
                            <img src="../../dist/img/profile.jpg"/>
                        </div>
                        <div class="d-flex flex-row justify-content-between planholder-text">
                            <div class="planholder-t1">
                                Steven Malcom McDonald :
                            </div>
                            <div class="planholder-t2">
                                Planholder
                            </div>
                        </div>
                        <div class="planholder-arrow">
                            <img src="../../dist/icons/chevron-down.svg"/>
                        </div>
                    </div>
                    <div class="d-flex flex-row rewards-container">
                        <div class="planholder-t1">
                            Score and rewards period:
                        </div>
                        <div class="planholder-t2">
                            January 2020
                        </div>
                        <div class="rewards-arrow">
                            <img src="../../dist/icons/chevron-down.svg"/>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center vitality-drive-status-container">
                    <div class="d-flex flex-column justify-content-between vitality-drive-status-body">
                        <div class="d-flex flex-row justify-content-center vitality-drive-status-title">
                            <div>Your Vitality Drive status is </div>
                            <div class="label-text"> Silver</div>
                        </div>
                        <div class="driver-status-bar">
                            <div class="bar-1"></div>
                            <div class="bar-2"></div>
                            <div class="bar">
                                <div class="bar-3">
                                    <div class="before-icon"></div>
                                    <div class="icon">
                                        <img src="../../dist/icons/car.svg"/>
                                    </div>
                                    <div class="after-icon"></div>
                                </div>
                            </div>
                            <div class="bar-4"></div>
                            <div class="bar-5"></div>
                        </div>
                        <div class="points">
                            200 points to get to Gold
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row fuel-cash-back-container">
                    <div class="d-flex flex-column fuel-cash-back-body">
                        <div class="d-flex flex-row justify-content-center fuel-cash-back-title">
                            <div>Your fuel cash back</div>
                            <div class="info-icon">
                                <img src="../../dist/icons/more-information.svg"/>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center fuel-cash-back-subtitle">
                            Last updated: 20 January 2020
                        </div>
                        <div class="d-flex flex-row justify-content-between projected-title">
                            <div class="title">
                                Your projected fuel cash back
                            </div>
                            <div class="amount">
                                R125.00
                            </div>
                        </div>
                        <div class="fuel-back-bar">
                            <div class="filled-bar"></div>
                            <div class="unfilled-bar"></div>
                        </div>
                        <div class="d-flex flex-row justify-content-between projected-title-amount">
                            <div>
                                R0.00
                            </div>
                            <div>
                                R400.00
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center cash-back-tiles">
                            <div class="d-flex flex-column justify-content-start tile-1">
                                <div class="title">
                                    Total Vitality Drive points
                                </div>
                                <div class="body">
                                    900 / 1 600
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-start tile-2">
                                <div class="d-flex flex-row justify-content-between">
                                    <div class="title">
                                        Qualifying spend
                                    </div>
                                    <div class="info-icon">
                                        <img src="../../dist/icons/more-information.svg"/>
                                    </div>
                                </div>
                                <div class="body">
                                    R400.00
                                </div>
                                <div class="view">
                                    View spend
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-start tile-3">
                                <div class="d-flex flex-row justify-content-between">
                                    <div class="title">
                                        Qualifying cash back %
                                    </div>
                                    <div class="info-icon">
                                        <img src="../../dist/icons/more-information.svg"/>
                                    </div>
                                </div>
                                <div class="body">
                                    5%
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-start cash-back-history">
                            View cash back history
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center vitality-drive-container">
                    <div class="d-flex flex-row justify-content-center vitality-drive-body-container">
                        <div class="d-flex flex-column justify-content-center vitality-drive-body">
                            <div class="vitality-drive-title">
                                Vitality Drive points
                            </div>
                            <div class="vitality-drive-points-container">
                                <div class="text">
                                    Total Vitality Drive points
                                </div>
                                <div class="points-value">
                                    900 / 1 600
                                </div>
                            </div>
                            <div class="vitality-drive-points-bar">
                                <div class="bar-1"></div>
                                <div class="bar-2"></div>
                                <div class="bar-3"></div>
                                <div class="bar-4"></div>
                            </div>
                            <div class="value-container">
                                <div>
                                    0
                                </div>
                                <div>
                                    1 600
                                </div>
                            </div>
                            <div class="border-line"></div>
                            <div class="points-breakdown-container">
                                <div class="points-breakdown-title-container">
                                    <div class="title">
                                        Points breakdown
                                    </div>
                                    <div class="icon">
                                        <img src="../../dist/icons/more-information.svg"/>
                                    </div>
                                </div>
                                <div class="driving-behaviour-points-container">
                                    <div class="driving-behaviour-points-title-container">
                                        <div class="title">
                                            Total driving behaviour points
                                        </div>
                                        <div class="value">
                                            500 / 1 100
                                        </div>
                                    </div>
                                    <div class="driving-behaviour-container">
                                        <div class="driving-behaviour left">
                                            <div class="driving-container">
                                                <div class="title-section-container">
                                                    <div class="title-container">
                                                        <div class="title">
                                                            Driving profile
                                                        </div>
                                                        <div class="icon">
                                                            <img src="../../dist/icons/more-information.svg"/>
                                                        </div>
                                                    </div>
                                                    <div class="points-value">
                                                        300 / 750
                                                    </div>
                                                </div>
                                                <div class="bar-container">
                                                    <div class="bar-1"></div>
                                                    <div class="bar-2"></div>
                                                </div>
                                                <div class="value-container">
                                                    <div>
                                                        0
                                                    </div>
                                                    <div>
                                                        750
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="driving-container distance">
                                                <div class="title-section-container">
                                                    <div class="title-container">
                                                        <div class="title">
                                                            Distance points
                                                        </div>
                                                        <div class="icon">
                                                            <img src="../../dist/icons/more-information.svg"/>
                                                        </div>
                                                    </div>
                                                    <div class="points-value">
                                                        50 / 100
                                                    </div>
                                                </div>
                                                <div class="bar-container">
                                                    <div class="bar-1 distance"></div>
                                                    <div class="bar-2 distance"></div>
                                                </div>
                                                <div class="value-container">
                                                    <div>
                                                        0
                                                    </div>
                                                    <div>
                                                        100
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="driving-behaviour right">
                                            <div class="driving-container">
                                                <div class="title-section-container">
                                                    <div class="title-container">
                                                        <div class="title">
                                                            Night-time driving points
                                                        </div>
                                                        <div class="icon">
                                                            <img src="../../dist/icons/more-information.svg"/>
                                                        </div>
                                                    </div>
                                                    <div class="points-value">
                                                        50 / 150
                                                    </div>
                                                </div>
                                                <div class="bar-container">
                                                    <div class="bar-1 night"></div>
                                                    <div class="bar-2 night"></div>
                                                </div>
                                                <div class="value-container">
                                                    <div>
                                                        0
                                                    </div>
                                                    <div>
                                                        150
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="driving-container claim">
                                                <div class="title-section-container">
                                                    <div class="title-container">
                                                        <div class="title">
                                                            Claim-free years
                                                        </div>
                                                        <div class="icon">
                                                            <img src="../../dist/icons/more-information.svg"/>
                                                        </div>
                                                    </div>
                                                    <div class="points-value">
                                                        100 / 100
                                                    </div>
                                                </div>
                                                <div class="bar-container">
                                                    <div class="bar-1 claim"></div>
                                                    <div class="bar-2 claim"></div>
                                                </div>
                                                <div class="value-container">
                                                    <div>
                                                        0
                                                    </div>
                                                    <div>
                                                        100
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-line"></div>
                                    <div class="driving-behaviour-points-title-container">
                                        <div class="title">
                                            Total vehicle safety points
                                        </div>
                                        <div class="value vehicle-safety">
                                            150 / 150
                                        </div>
                                    </div>
                                    <div class="driving-behaviour-container">
                                        <div class="driving-behaviour left">
                                            <div class="driving-container">
                                                <div class="title-section-container">
                                                    <div class="title-container">
                                                        <div class="title">
                                                            Passing the Tiger Wheel & Tyre Annual MultiPoint <br />check
                                                        </div>
                                                    </div>
                                                    <div class="points-value vehicle-safety">
                                                        100 / 100
                                                    </div>
                                                </div>
                                                <div class="bar-container">
                                                    <div class="bar-1 vehicle-safety"></div>
                                                    <div class="bar-2 vehicle-safety"></div>
                                                </div>
                                                <div class="value-container">
                                                    <div>
                                                        0
                                                    </div>
                                                    <div>
                                                        100
                                                    </div>
                                                </div>
                                                <div class="valid">
                                                    Valid until 20 May 2020
                                                </div>
                                            </div>
                                        </div>
                                        <div class="driving-behaviour right">
                                            <div class="driving-container">
                                                <div class="title-section-container">
                                                    <div class="title-container">
                                                        <div class="title">
                                                            Service history up-to-date
                                                        </div>
                                                        <div class="icon">
                                                            <img src="../../dist/icons/more-information.svg"/>
                                                        </div>
                                                    </div>
                                                    <div class="points-value vehicle-safety">
                                                        50 / 50
                                                    </div>
                                                </div>
                                                <div class="bar-container">
                                                    <div class="bar-1 vehicle-safety"></div>
                                                    <div class="bar-2 vehicle-safety"></div>
                                                </div>
                                                <div class="value-container">
                                                    <div>
                                                        0
                                                    </div>
                                                    <div>
                                                        50
                                                    </div>
                                                </div>
                                                <div class="valid">
                                                    Valid until 20 May 2020
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-line"></div>
                                    <div class="driving-behaviour-points-title-container">
                                        <div class="title">
                                            Total knowledge  and awareness points
                                        </div>
                                        <div class="value">
                                            250 / 350
                                        </div>
                                    </div>
                                    <div class="driving-behaviour-container">
                                        <div class="driving-behaviour left">
                                            <div class="driving-container">
                                                <div class="title-section-container">
                                                    <div class="title-container">
                                                        <div class="title">
                                                            Online driver questionnaire
                                                        </div>
                                                    </div>
                                                    <div class="points-value vehicle-safety">
                                                        50 / 50
                                                    </div>
                                                </div>
                                                <div class="bar-container">
                                                    <div class="bar-1 online-driver"></div>
                                                    <div class="bar-2 online-driver"></div>
                                                </div>
                                                <div class="value-container">
                                                    <div>
                                                        0
                                                    </div>
                                                    <div>
                                                        50
                                                    </div>
                                                </div>
                                                <div class="valid online">
                                                    Valid until 20 September 2020
                                                </div>
                                            </div>
                                            <div class="driving-container eye">
                                                <div class="title-section-container">
                                                    <div class="title-container">
                                                        <div class="title">
                                                            EyeGym
                                                        </div>
                                                    </div>
                                                    <div class="points-value vehicle-safety">
                                                        50 / 150
                                                    </div>
                                                </div>
                                                <div class="bar-container">
                                                    <div class="bar-1 eye"></div>
                                                    <div class="bar-2 eye"></div>
                                                </div>
                                                <div class="value-container">
                                                    <div>
                                                        0
                                                    </div>
                                                    <div>
                                                        150
                                                    </div>
                                                </div>
                                                <div class="valid online">
                                                    Valid until 20 September 2020
                                                </div>
                                            </div>
                                        </div>
                                        <div class="driving-behaviour right">
                                            <div class="driving-container">
                                                <div class="title-section-container">
                                                    <div class="title-container">
                                                        <div class="title">
                                                            Driving courses
                                                        </div>
                                                        <div class="icon">
                                                            <img src="../../dist/icons/more-information.svg"/>
                                                        </div>
                                                    </div>
                                                    <div class="points-value">
                                                        50 / 150
                                                    </div>
                                                </div>
                                                <div class="bar-container">
                                                    <div class="bar-1 driving"></div>
                                                    <div class="bar-2 driving"></div>
                                                </div>
                                                <div class="value-container">
                                                    <div>
                                                        0
                                                    </div>
                                                    <div>
                                                        150
                                                    </div>
                                                </div>
                                                <div class="valid online">
                                                    Valid until 20 September 2020
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row maximise-vitality-drive-container">
                    <div class="d-flex flex-column justify-content-center maximise-vitality-drive-body-container">
                        <div class="d-flex flex-row justify-content-center maximise-vitality-drive-title">
                            Maximise your Vitality Drive points
                        </div>
                        <div class="d-flex flex-row justify-content-start maximise-vitality-drive-body">
                            <div class="d-flex flex-column driving-behaviour-points-container">
                                <div class="driving-behaviour-points-title-container">
                                    <div class="title-container">
                                        <div class="icon">
                                            <img src="../../dist/icons/icon-driving-score-reward.svg"/>
                                        </div>
                                        <div class="title">
                                            Driving behaviour points
                                        </div>
                                    </div>
                                    <div class="points-value">
                                        500 / 1 100
                                    </div>
                                </div>
                                <div class="border-line-title"></div>
                                <div class="driving-profile-container">
                                    <div class="driving-profile-title-container">
                                        <div class="driving-title-container">
                                            <div class="title">
                                                Driving Profile
                                            </div>
                                            <div class="icon">
                                                <img src="../../dist/icons/more-information.svg"/>
                                            </div>
                                        </div>
                                        <div class="points-value">
                                            300 / 750
                                        </div>
                                    </div>
                                    <div class="driving-profile-body">
                                        <div class="icon">
                                            <img src="../../dist/icons/icon-drive-target.svg"/>
                                        </div>
                                        <div class="body-text">
                                            Each day you will be allocated 25 Drive points. Maintain your daily Drive points balance by driving well during the day by accelerating, braking and cornering smoothly, avoiding speeding and avoiding cellphone use. 
                                            <br /><label class="highlight-text">Harsh driving events</label> will reduce your daily 25 Drive points balance, depending on the type and severity of the driving event. 
                                            <br />At the end of every day, your remaining daily Drive points will bank towards your monthly Driving Profile, which is a build-up of your daily Drive points, up to 750 Vitality Drive points a month. This will contribute towards your monthly Vitality Drive points to earn up to 50% fuel cash back each month. 
                                        </div>
                                    </div>
                                </div>
                                <div class="border-line"></div>
                                <div class="driving-profile-container">
                                    <div class="driving-profile-title-container">
                                        <div class="driving-title-container">
                                            <div class="title">
                                                Night-time driving
                                            </div>
                                            <div class="icon">
                                                <img src="../../dist/icons/more-information.svg"/>
                                            </div>
                                        </div>
                                        <div class="points-value">
                                            50 / 100
                                        </div>
                                    </div>
                                    <div class="driving-profile-body">
                                        <div class="icon">
                                            <img src="../../dist/icons/icon-night-driving.svg"/>
                                        </div>
                                        <div class="body-text">
                                            
                                            Avoid driving at night especially between 23:00 and 04:30. During these times, there is  decreased visibility, it's harder to focus and there are more impaired drivers on the road.
                                            <br />
                                            <br />
                                            <div class="d-flex flex-row justify-content-between">
                                                <div>
                                                    Rather use our Drive Me partners and get up to 25% off Uber, Road Trip or Scooter Angels trips to get
                                                    <br />home safely.
                                                </div>
                                                <div class="partner-containers">
                                                    View drive me partners
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-line"></div>
                                <div class="driving-profile-container">
                                    <div class="driving-profile-title-container">
                                        <div class="driving-title-container">
                                            <div class="title">
                                                Distance points
                                            </div>
                                        </div>
                                        <div class="points-value">
                                            50 / 100
                                        </div>
                                    </div>
                                    <div class="driving-profile-body">
                                        <div class="icon">
                                            <img src="../../dist/icons/icon-steering-wheel.svg"/>
                                        </div>
                                        <div class="body-text">
                                            We look at the total number of kilometres you drove over the past 30 days. The more time spent on the road, the higher your risk of being in an accident.
                                        </div>
                                    </div>
                                </div>
                                <div class="border-line"></div>
                                <div class="driving-profile-container">
                                    <div class="driving-profile-title-container">
                                        <div class="driving-title-container">
                                            <div class="title">
                                                Claim-free years
                                            </div>
                                        </div>
                                        <div class="points-value">
                                            100 / 100
                                        </div>
                                    </div>
                                    <div class="driving-profile-body-claim">
                                        <div class="icon">
                                            <img src="../../dist/icons/icon-car-calendar.svg"/>
                                        </div>
                                        <div class="body-text">
                                            You can earn up to 100 Vitality Drive points a month by not claiming: earn 50 Vitality Drive points for 2 claim-free years. 
                                            <br />Earn 100 Vitality Drive points for 3 claim-free years.
                                            <br />Vehicle glass or SOS claims <b>won't</b> affect your claim-free years.
                                        </div>
                                    </div>
                                </div>
                                <div class="border-line"></div>
                                <div class="task-complete-container">
                                    <div class="title">
                                        Tasks completed:
                                    </div>
                                    <div class="body">
                                        <div class="icon">
                                            <img src="../../dist/icons/Tick.svg"/>
                                        </div>
                                        <div class="text">
                                            Discovery Insure Driving app is installed
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <iframe class="footer-vitality-drive" src="../layouts/Footer.html" width="100%" frameBorder="0"></iframe>
        </div>
    </body>
</html>