<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/bootstap/dev/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../../dist/css/discovery.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
        <script src="../../assets/bootstap/dev/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="footer-container">
            <div class="footer-details-container">
                <div class="about-us-container">
                    <div class="about-us-title">
                        About Us
                    </div>
                    <div class="about-us-body">
                        <div class="about-us-text">
                            Our business
                        </div>
                        <div class="about-us-text">
                            Investor relations
                        </div>
                        <div class="about-us-text">
                            Sustainability
                        </div>
                        <div class="about-us-text">
                            Sponsorships
                        </div>
                        <div class="about-us-text">
                            Newsroom
                        </div>
                        <div class="about-us-text">
                            Careers at Discovery
                        </div>
                    </div>
                </div>
                <div class="contact-us-container">
                    <div class="contact-us-title">
                        Contact Us
                    </div>
                    <div class="contact-us-dropdown">
                        <div class="text">
                            Select company
                        </div>
                        <div class="icon">
                            <img src="../../dist/icons/chevron-down.svg"/>
                        </div>
                    </div>
                    <div class="contact-us-text">
                        Visit a Discovery Store
                    </div>
                </div>
                <div class="join-us-container">
                    <div class="join-us-title">
                        Join Us
                    </div>
                    <div class="join-us-body">
                        <div class="join-us-text">
                            Our business
                        </div>
                        <div class="join-us-text">
                            Investor relations
                        </div>
                        <div class="join-us-text">
                            Sustainability
                        </div>
                        <div class="join-us-text">
                            Sponsorships
                        </div>
                        <div class="join-us-text">
                            Newsroom
                        </div>
                    </div>
                    <div class="connect-with-us-conatiner">
                        <div class="connect-with-us-title">
                            Connect with us
                        </div>
                        <div class="connect-with-us-body">
                            <div class="connect-with-us-text-1">
                                Download our app
                            </div>
                            <div class="connect-with-us-text-2">
                                Content Hub
                            </div>
                        </div>
                        <div class="connect-with-us-icons">
                            <div class="icon-fb">
                                <img src="../../dist/icons/fb-simple.svg">
                            </div>
                            <div class="icon-in">
                                <img src="../../dist/icons/linkedin-simple.svg"/>
                            </div>
                            <div class="icon-tw">
                                <img src="../../dist/icons/twitter.svg"/>
                            </div>
                            <div class="icon-yo">
                                <img src="../../dist/icons/youtube.svg"/>
                            </div>
                            <div class="icon-pi">
                                <img src="../../dist/icons/pintrest.svg"/>
                            </div>
                            <div class="icon-inst">
                                <img src="../../dist/icons/instagram.svg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer-details-container">
                <div class="bottom-footer-details-text-1">
                    Security & fraud  |  Terms & conditions  |  Site Map  |  Legal
                </div>
                <div class="bottom-footer-details-text-2">
                    Copyright 2019 Discovery Limited. Subsidiaries of Discovery Limited are authorised financial services providers
                </div>
            </div>
        </div>
    </body>
</html>