<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/bootstap/dev/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../../dist/css/discovery.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
        <script src="../../assets/bootstap/dev/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="header-container">
            <div class="details-container">
                <div class="discovery-icon">
                    <img src="../../dist/icons/discovery-logo.svg" />
                </div>
                <div class="family">
                    <div class="text">
                        Family
                    </div>
                    <div class="icon">
                        <img src="../../dist/icons/chevron-down.svg"/>
                    </div>
                </div>
                <div class="hi">
                    Hi  Anbmmmkdbfck
                </div>
                <div class="logout">
                    Log Out
                </div>
                <div class="border-line"></div>
                <div class="search-icon">
                    <img src="../../dist/icons/search-icon.svg"/>
                </div>
                <div class="hamburger">
                    <img src="../../dist/icons/Hamburger.svg"/>
                </div>
            </div>
            <div class="border-line"></div>
            <div class="nav-container">
                <div>Portfolio</div>
                <div>Bank</div>
                <div>Medical Aid</div>
                <div>Gap Cover</div>
                <div>Life Insurance</div>
                <div>Investments</div>
                <div>Car and Home Insurance</div>
                <div>Vitality</div>
                <div>Credit Card</div>
                <div>Reward Partners</div>
            </div>
        </div>
    </body>
</html>